/*=====  End of container  ======*/
/*=============================================
=              05. Header Css            =
=============================================*/
.header-area .is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* -webkit-animation: .95s ease-in-out 0s normal none 1 running fadeInDown;
          animation: .95s ease-in-out 0s normal none 1 running fadeInDown; */
  z-index: 999;
  /* -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1); */
  -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #b5013d;
}

.header-area .is-sticky .navigation-menu--text_white > ul > li > a {
  color: #444;
}

.header-area .is-sticky .navigation-menu--text_white > ul > li > a > span:after {
  background-color: #444;
}

.header-area .is-sticky .navigation-menu--text_white > ul > li.active > a {
  color: #000000;
}

.header-area .is-sticky .navigation-menu--text_white > ul > li:hover > a:after, .header-area .is-sticky .navigation-menu--text_white > ul > li.active > a:after {
  color: #000000;
}

.header-area .is-sticky .navigation-menu--text_white > ul > li:hover > a > span, .header-area .is-sticky .navigation-menu--text_white > ul > li.active > a > span {
  color: #000000;
}

.header-area .is-sticky .header-search-form .search-form-top .style-02 {
  background-color: transparent;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.header-area .is-sticky .header-search-form .search-form-top.style-03 {
  background-color: transparent;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.header-area .is-sticky .header-search-form .search-form-top.style-03 input::-webkit-input-placeholder, .header-area .is-sticky .header-search-form .search-form-top.style-03 textarea::-webkit-input-placeholder {
  color: #333;
}

.header-area .is-sticky .header-search-form .search-form-top.style-03 input::-moz-placeholder, .header-area .is-sticky .header-search-form .search-form-top.style-03 textarea::-moz-placeholder {
  color: #333;
}

.header-area .is-sticky .header-search-form .search-form-top.style-03 input:-ms-input-placeholder, .header-area .is-sticky .header-search-form .search-form-top.style-03 textarea:-ms-input-placeholder {
  color: #333;
}

.header-area .is-sticky .header-search-form .search-form-top.style-03 input::-ms-input-placeholder, .header-area .is-sticky .header-search-form .search-form-top.style-03 textarea::-ms-input-placeholder {
  color: #333;
}

.header-area .is-sticky .header-search-form .search-form-top.style-03 input::placeholder, .header-area .is-sticky .header-search-form .search-form-top.style-03 textarea::placeholder {
  color: #333;
}

.header-area .is-sticky .header-search-form .search-form-top .search-field {
  color: #000;
}

.header-area .is-sticky .header-search-form .search-form-top .search-submit {
  color: #333;
}

.header-area .is-sticky .header__logo .dark-logo {
  display: inherit;
}

.header-area .is-sticky .header__logo .light-logo {
  display: none;
}

.header-area .is-sticky .menu-style-four .navigation-menu > ul > li > a {
  color: #333;
}

.header-area .is-sticky .menu-style-four .navigation-menu > ul > li:hover > a:after, .header-area .is-sticky .menu-style-four .navigation-menu > ul > li.active > a:after {
  color: #333;
}

.header-area .is-sticky .menu-style-four .navigation-menu > ul > li:hover > a > span, .header-area .is-sticky .menu-style-four .navigation-menu > ul > li.active > a > span {
  color: #333;

}

.header-area .is-sticky .menu-style-four .navigation-menu > ul > li:hover > a:before, .header-area .is-sticky .menu-style-four .navigation-menu > ul > li.active > a:before {
  width: 100%;
  left: 0;
}

.header-area .is-sticky .header-search-form-two.white-icon a {
  color: #333;
}

@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .header-area.is-sticky.only-mobile-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-animation: .95s ease-in-out 0s normal none 1 running fadeInDown;
            animation: .95s ease-in-out 0s normal none 1 running fadeInDown;
    z-index: 999;
    -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .header-area.is-sticky.only-mobile-sticky .header-bottom-wrap.is-sticky {
    display: none !important;
  }
}

.header-area--absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .header-area--absolute {
    position: static;
  }
}

.header-area--absolute__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header-area--default {
  border-color: #E4E8F6;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* logo */
}

.header__logo {
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
  padding: 14px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.header__logo.top-logo {
  padding: 25px 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .header__logo {
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
  }
}

@media only screen and (max-width: 767px) {
  .header__logo {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
  .header__logo.top-logo {
    padding: 15px 0;
  }
}

.header__logo > a img {
  width: 160px;
}

.header__logo .dark-logo {
  display: none;
}

.header__logo .light-logo {
  display: inherit;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .header__logo .dark-logo {
    display: inherit;
  }
  .header__logo .light-logo {
    display: none;
  }
}

.header.default-menu-style .header__logo {
  -webkit-flex-basis: 23.5%;
      -ms-flex-preferred-size: 23.5%;
          flex-basis: 23.5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 0;
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .header.default-menu-style .header__logo {
    -webkit-flex-basis: 13%;
        -ms-flex-preferred-size: 13%;
            flex-basis: 13%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .header.default-menu-style .header__logo {
    -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (max-width: 767px) {
  .header.default-menu-style .header__logo {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.header.default-menu-style .header-midle-box {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header.default-menu-style .header-right-box {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 23.5%;
      -ms-flex-preferred-size: 23.5%;
          flex-basis: 23.5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .header.default-menu-style .header-right-box {
    -webkit-flex-basis: 23%;
        -ms-flex-preferred-size: 23%;
            flex-basis: 23%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header.default-menu-style .header-right-box {
    -webkit-flex-basis: 60%;
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header.default-menu-style .header-right-box {
    -webkit-flex-basis: 60%;
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
  }
}

@media only screen and (max-width: 767px) {
  .header.default-menu-style .header-right-box {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
}

.header.default-menu-style .header-right-box .header-right-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

@media only screen and (max-width: 767px) {
  .header.default-menu-style .header-right-box .header-right-inner {
    margin: auto;
  }
}

/*======================
    - language 
=======================*/
.language-menu {
  padding-right: 25px;
}

.language-menu > ul > li {
  position: relative;
  display: inline-block;
  line-height: 1;
  padding: 0 10px;
}

.language-menu > ul > li > a {
  padding: 0 10px;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
}

.language-menu > ul > li > a span {
  margin-left: 10px;
}

.language-menu > ul > li > a::after {
  content: '\f078';
  font-size: 8px;
  border: 0;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
}

.language-menu > ul > li ul {
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
  z-index: 102;
  -webkit-box-shadow: 0 0 37px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 37px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.language-menu > ul > li ul li a {
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  padding: 10px;
  border: 0;
  background: #fff;
  color: #222;
  line-height: 1;
  text-transform: uppercase;
}

.language-menu > ul > li ul li a span {
  margin-left: 10px;
}

.language-menu > ul > li ul li a img {
  width: 24px;
  height: auto;
}

.language-menu > ul > li ul li a:hover {
  background: #EEEEEE;
}

.language-menu > ul > li:hover ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

.header-right {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-right-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -12px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding: 0 12px;
}

@media only screen and (max-width: 767px) {
  .header-right-inner {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
    -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.09);
            box-shadow: 0 15px 40px rgba(0, 0, 0, 0.09);
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    background-color: #ffffff;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .header-right-inner.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    z-index: 999;
  }
}

@media only screen and (max-width: 767px) {
  .header-right-box .header-right-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (max-width: 575px) {
  .header-right-box .header-right-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-top-info-slider-werap {
  overflow: hidden;
  max-width: 770px;
  width: 100%;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-top-info-slider-werap {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-top-info-slider-werap {
    max-width: 280px;
  }
}

@media only screen and (max-width: 767px) {
  .header-top-info-slider-werap {
    max-width: 100%;
  }
}

.header-top-info-slider-werap {
  padding: 0 12px;
}

@media only screen and (max-width: 767px) {
  .header-top-info-slider-werap {
    padding: 0 0px;
  }
}

.header-top-info-inner .info-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #ddd;
  padding-left: 19px;
}

.header-top-info-inner .info-item .info-icon {
  width: 41px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  font-size: 30px;
  line-height: 1;
  color: #d2a98e;
}

.header-top-info-inner .info-item .info-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-top-info-inner .info-item .info-content .info-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.18;
  margin-bottom: 6px;
}

.header-top-info-inner .info-item .info-content .info-sub-title {
  font-size: 14px;
}

@media only screen and (max-width: 767px) {
  .header-top-info-inner .info-item {
    padding-left: 0px;
    margin-top: 20px;
  }
}

.header-top-info-inner.default-color .info-item .info-icon {
  color: #086AD8;
}

.top-info-slider__container {
  cursor: w-resize;
}

.top-info-slider__container .swiper-slide-active .info-item {
  border-left: none;
}

.header-social-networks.style-icons a {
  display: inline-block;
  padding: 0 10px;
  font-size: 18px;
  margin-top: 10px;
}

.header-bottom-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom-left-wrap {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-search-form {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
}

.header-search-form .search-form-top {
  position: relative;
  background-color: rgba(0, 47, 166, 0.3);
}

.header-search-form .search-form-top .search-field {
  width: 270px;
  border-radius: 0;
  border: 0 !important;
  background: 0 0 !important;
  min-height: 60px;
  padding-right: 50px;
  padding-left: 10px;
  color: #fff;
}

.header-search-form .search-form-top input::-webkit-input-placeholder, .header-search-form .search-form-top textarea::-webkit-input-placeholder {
  color: #333;
}

.header-search-form .search-form-top input::-moz-placeholder, .header-search-form .search-form-top textarea::-moz-placeholder {
  color: #333;
}

.header-search-form .search-form-top input:-ms-input-placeholder, .header-search-form .search-form-top textarea:-ms-input-placeholder {
  color: #333;
}

.header-search-form .search-form-top input::-ms-input-placeholder, .header-search-form .search-form-top textarea::-ms-input-placeholder {
  color: #333;
}

.header-search-form .search-form-top input::placeholder, .header-search-form .search-form-top textarea::placeholder {
  color: #333;
}

.header-search-form .search-form-top .search-submit {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  font-size: 18px;
  background: 0 0;
  width: 48px;
  height: 48px;
  line-height: 50px;
  padding: 0;
  border: 0;
  color: #ffffff;
}

.header-search-form .search-form-top.style-02 {
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
}

.header-search-form .search-form-top.style-02 .search-field {
  width: 232px;
  border-radius: 0;
  background: #fff !important;
  border: 0 !important;
  min-height: 60px;
  color: #333;
}

.header-search-form .search-form-top.style-02 .search-submit {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  font-size: 18px;
  background: 0 0;
  width: 48px;
  height: 48px;
  line-height: 50px;
  padding: 0;
  border: 0;
  color: #000000;
}

.header-search-form .search-form-top.style-03 input::-webkit-input-placeholder {
  color: #ddd;
}

.header-search-form .search-form-top.style-03 input::-moz-placeholder {
  color: #ddd;
}

.header-search-form .search-form-top.style-03 input:-ms-input-placeholder {
  color: #ddd;
}

.header-search-form .search-form-top.style-03 input::-ms-input-placeholder {
  color: #ddd;
}

.header-search-form .search-form-top.style-03 input::placeholder {
  color: #ddd;
}

.header-search-form.default-search {
  height: 100%;
}

.header-search-form.default-search .search-form-top {
  background: transparent;
  border-left: 1px solid #eee;
  margin-right: -15px;
}

@media only screen and (max-width: 575px) {
  .header-search-form.default-search .search-form-top {
    margin-top: 15px;
    background: #eee;
  }
}

.header-search-form.default-search .search-form-top .search-field {
  max-width: 225px;
  color: #333;
  min-height: 80px;
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .header-search-form.default-search .search-form-top .search-field {
    max-width: 160px;
  }
}

@media only screen and (max-width: 767px) {
  .header-search-form.default-search .search-form-top .search-field {
    min-height: 40px;
  }
}

.header-search-form.default-search .search-form-top .search-submit {
  color: #000000;
}

.header-search-form-two {
  padding-left: 24px;
  display: block;
}

.header-search-form-two a {
  line-height: 0;
  font-size: 18px;
}

.header-search-form-two a:hover {
  -webkit-transform: scale(1.15, 1.15);
      -ms-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
}

.header-search-form-two.white-icon a {
  color: #ffffff;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .header-search-form-two.white-icon a {
    color: #333;
  }
}

.top-bar-left {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.top-bar-left .top-bar-text {
  font-size: 14px;
  line-height: 1.78;
}

.top-bar-left .top-bar-text .font-medium {
  font-weight: 500;
}

.top-bar-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.top-bar-wrap .top-bar-right .top-bar-info .info-item {
  display: inline-block;
  margin-left: 15px;
  font-size: 14px;
}

.top-bar-wrap .top-bar-right .top-bar-info .info-item:first-child {
  margin-left: 0;
}

.top-bar-wrap .top-bar-right .top-bar-info .info-item .info-icon {
  margin-right: 5px;
  font-size: 14px;
}

.top-message {
  padding: 10px 0;
  font-size: 14px;
  line-height: 1.78;
}

.top-message a {
  color: #002FA6;
  font-weight: 500;
}

.top-message a:hover {
  color: #d2a98e;
}

/*============================== 
    - Navigation Menu Css
===============================*/
.navigation-menu > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.navigation-menu > ul > li {
  margin: 0 24px;
}

@media only screen and (min-width: 1500px) and (max-width: 1599px) {
  .navigation-menu > ul > li {
    margin: 0 22px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .navigation-menu > ul > li {
    margin: 0 36px;

  }
}

.navigation-menu > ul > li > a {
  display: block;
  color: #eaeaea;
  padding: 21px 2px;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.5;
}

.navigation-menu > ul > li > a > span {
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}

.navigation-menu > ul > li > a:before {
  content: '';
  width: 0;
  height: 3px;
  bottom: 0;
  position: absolute;
  left: 0;
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);
  background: linear-gradient(to right, #f5af19, #f12711);
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navigation-menu > ul > li.has-children > a {
  position: relative;
}

.navigation-menu > ul > li.has-children > a:after {
  position: static;
  margin-left: 5px;
  font-family: "Font Awesome 5 Pro";
  content: '\f107';
  font-size: 14px;
  vertical-align: middle;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navigation-menu > ul > li.has-children--multilevel-submenu {
  position: relative;
}

.navigation-menu > ul > li.has-children:hover .megamenu {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.navigation-menu > ul > li.has-children:hover .megamenu--home-variation__item {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.navigation-menu > ul > li.has-children:hover > .submenu {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.navigation-menu > ul > li:hover > a:after, .navigation-menu > ul > li.active > a:after {
  color: #fff;
  font-weight:  bold;
}

.navigation-menu > ul > li:hover > a span, .navigation-menu > ul > li.active > a span {
  color: #fff;
  font-weight:  bold;
}

.navigation-menu > ul > li:hover > a:before, .navigation-menu > ul > li.active > a:before {
  width: 100%;
  left: 0;
}

.navigation-menu.primary--menu > ul > li > a {
  padding: 31px 2px;
}

.navigation-menu--text_white > ul > li > a {
  color: rgba(255, 255, 255, 0.7);
}

.navigation-menu--text_white > ul > li > a:before {
  background-color: #ffffff;
}

.navigation-menu--text_white > ul > li.active > a {
  color: #ffffff;
}

.navigation-menu--text_white > ul > li:hover > a:after, .navigation-menu--text_white > ul > li.active > a:after {
  color: #ffffff;
}

.navigation-menu--text_white > ul > li:hover > a > span, .navigation-menu--text_white > ul > li.active > a > span {
  color: #ffffff;
}

/* .header-bottom-left-wrap .navigation-menu > ul > li:first-child {
  margin: 0 24px 0 0;
} */

/*===================================
    - Multilevel Submenu Css
====================================*/
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-box-shadow: 0 2px 29px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 29px rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid #dc3545;
  background-color: #FFFCF5;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  visibility: hidden;
  opacity: 0;
  min-width: 240px;
  padding: 0px 0;
  z-index: 9;
}

.submenu > li {
  position: relative;
}

.submenu > li > a {
  display: block;
  /* padding: 5px 30px; */
  padding: .5rem 1.5rem;
  color: #212529;
  font-weight: 400;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.submenu > li > a > span {
  position: relative;
}

/* .submenu > li > a > span:after {
  content: '';
  width: 0;
  height: 1px;
  bottom: 0;
  position: absolute;
  left: auto;
  right: 0;
  z-index: -1;
  background-color: #086AD8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
} */

.submenu > li > a:hover {
  color: #fff !important;
  background-color: #ec7a28;
  border-left: 3px solid;
  border-left-color: #dc3545;
}

.submenu > li > a:hover > span:after {
  width: 100%;
  left: 0;
  right: auto;
}

.submenu > li:hover > .submenu {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  opacity: 1;
  z-index: 9;
}

.submenu > li.active > a {
  color: #6d0024;
}

.submenu > li.has-children > a {
  position: relative;
  /* -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1); */
}

.submenu > li.has-children > a:after {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Font Awesome 5 Pro";
  content: '\f105';
  font-size: 14px;
  vertical-align: middle;
  color: #ababab;
}

.submenu > li.has-children > a:hover:after {
  color: #fff;
}

.submenu > li.has-children.active > a {
  color: #b54c02;
}

.submenu .submenu {
  top: 0px;
  left: 100%;
  right: auto;
}

.submenu .submenu.left {
  right: 100%;
  left: auto;
}

.submenu .submenu .submenu {
  top: 0;
  left: 100%;
  right: auto;
}

.submenu .submenu .submenu.left {
  right: 100%;
  left: auto;
}

.submenu .submenu .submenu .submenu {
  top: 0;
  left: 100%;
  right: auto;
}

.submenu .submenu .submenu .submenu.left {
  right: 100%;
  left: auto;
}

.submenu .submenu .submenu .submenu .submenu {
  top: 0;
  left: 100%;
  right: auto;
}

.submenu .submenu .submenu .submenu .submenu.left {
  right: 100%;
  left: auto;
}

.menu-style-three .navigation-menu > ul > li, .menu-style-four .navigation-menu > ul > li {
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;
}

@media only screen and (min-width: 1500px) and (max-width: 1599px) {
  .menu-style-three .navigation-menu > ul > li, .menu-style-four .navigation-menu > ul > li {
    padding-left: 22px;
    padding-right: 22px;
  }
}

.menu-style-three .navigation-menu > ul > li:hover > a:before, .menu-style-three .navigation-menu > ul > li.active > a:before, .menu-style-four .navigation-menu > ul > li:hover > a:before, .menu-style-four .navigation-menu > ul > li.active > a:before {
  width: 0%;
  left: 0;
}

.menu-style-three .submenu.left, .menu-style-four .submenu.left {
  left: -100px;
}

.menu-style-three .submenu.left .submenu.left, .menu-style-four .submenu.left .submenu.left {
  right: 100%;
  left: auto;
}

.menu-style-four .navigation-menu > ul > li > a {
  color: #ffffff;
}

.menu-style-four .navigation-menu > ul > li > a:before {
  content: '';
  width: 0;
  height: 3px;
  bottom: 0;
  position: absolute;
  left: 0;
  background-color: #d2a98e;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu-style-four .navigation-menu > ul > li:hover > a:after, .menu-style-four .navigation-menu > ul > li.active > a:after {
  color: #ffffff;
}

.menu-style-four .navigation-menu > ul > li:hover > a > span, .menu-style-four .navigation-menu > ul > li.active > a > span {
  color: #ffffff;
}

.menu-style-four .navigation-menu > ul > li:hover > a:before, .menu-style-four .navigation-menu > ul > li.active > a:before {
  width: 100%;
  left: 0;
}

/*=========================================
    - Mega Menu Css
===========================================*/
.megamenu {
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-box-shadow: 0 2px 29px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 29px rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid #086AD8;
  background-color: #ffffff;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
}

.megamenu--mega {
  min-width: 980px;
  width: 100%;
  padding: 35px 20px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .megamenu--mega {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .megamenu--mega {
    min-width: 700px;
  }
}

.megamenu--mega > li {
  -webkit-flex-basis: 22%;
      -ms-flex-preferred-size: 22%;
          flex-basis: 22%;
  padding-left: 15px;
  padding-right: 15px;
}

.megamenu--mega > li .page-list-title {
  font-size: 14px;
  margin-bottom: 20px;
  color: #333333;
}

.megamenu--mega > li > ul > li > a {
  padding: 10px 0;
  color: #ababab;
  line-height: 1.2;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.megamenu--mega > li > ul > li > a:hover {
  color: #086AD8;
}

.megamenu--mega > li > ul > li > a:hover span:after {
  width: 100%;
  left: 0;
  right: auto;
}

.megamenu--mega > li > ul > li > a > span {
  position: relative;
}

.megamenu--mega > li > ul > li > a > span:after {
  content: '';
  width: 0;
  height: 1px;
  bottom: 0;
  position: absolute;
  left: auto;
  right: 0;
  z-index: -1;
  background-color: #086AD8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.megamenu--mega > li > ul > li.active > a {
  color: #086AD8;
}

.container-fluid .megamenu--mega {
  padding: 35px 220px 30px;
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .container-fluid .megamenu--mega {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .container-fluid .megamenu--mega {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .container-fluid .megamenu--mega {
    min-width: 700px;
  }
}

/* Mobile Mavigation icon */
.mobile-navigation-icon {
  width: 24px;
  height: 25px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-left: 30px;
  padding: 20px 0px;
}

.mobile-navigation-icon:hover i {
  background-color: #086AD8;
}

.mobile-navigation-icon:hover i:before {
  width: 80%;
  background-color: #086AD8;
}

.mobile-navigation-icon:hover i:after {
  background-color: #086AD8;
  width: 60%;
}

.mobile-navigation-icon i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.mobile-navigation-icon i:before {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.mobile-navigation-icon i:after {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile-navigation-icon.white-md-icon i {
    background-color: #fff;
  }
  .mobile-navigation-icon.white-md-icon i:before {
    background-color: #fff;
  }
  .mobile-navigation-icon.white-md-icon i:after {
    background-color: #fff;
  }
  .mobile-navigation-icon.white-md-icon:hover i {
    background-color: #086AD8;
  }
  .mobile-navigation-icon.white-md-icon:hover i:before {
    width: 80%;
    background-color: #086AD8;
  }
  .mobile-navigation-icon.white-md-icon:hover i:after {
    background-color: #086AD8;
    width: 60%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .is-sticky .white-md-icon i {
    background-color: #333;
  }
  .is-sticky .white-md-icon i:before {
    background-color: #333;
  }
  .is-sticky .white-md-icon i:after {
    background-color: #333;
  }
}

.page-open-off-sidebar:hover i {
  width: 100%;
}

.page-open-off-sidebar:hover i:before {
  width: 100%;
}

.page-open-off-sidebar:hover i:after {
  width: 100%;
}

.page-open-off-sidebar i {
  width: 100%;
  background-color: #333;
}

.page-open-off-sidebar i:before {
  width: 70%;
  background-color: #333;
}

.page-open-off-sidebar i:after {
  width: 70%;
  background-color: #333;
}

.hidden-icons-menu {
  margin-left: 15px;
}

.hidden-icons-menu a {
  color: #6D70A6;
  font-size: 20px;
}

.hidden-icons-menu a:hover {
  color: #086AD8;
}

/*================================ 
    - Mobile Menu Overlay Css
==================================*/
.mobile-menu-overlay, .page-oppen-off-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  overflow: auto;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
  cursor: url(../images/icons/light-close.png) 16 16, pointer;
  visibility: hidden;
  opacity: 0;
}

.mobile-menu-overlay__inner, .page-oppen-off-sidebar__inner {
  -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
          transform: translateX(120%);
  width: 400px;
  height: 100%;
  float: right;
  cursor: default;
  background: #9B4002;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow-y: auto;
}

@media only screen and (max-width: 479px) {
  .mobile-menu-overlay__inner, .page-oppen-off-sidebar__inner {
    width: 300px;
  }
}

.mobile-menu-overlay.active, .page-oppen-off-sidebar.active {
  visibility: visible;
  opacity: 1;
}

.mobile-menu-overlay.active .mobile-menu-overlay__inner, .page-oppen-off-sidebar.active .mobile-menu-overlay__inner {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.mobile-menu-overlay__header, .page-oppen-off-sidebar__header {
  background-color: #9B4003;
  padding: 0px 0;
  border-bottom: 1px solid #803400;
}

.mobile-menu-overlay__header .mobile-navigation-close-icon, .page-oppen-off-sidebar__header .mobile-navigation-close-icon {
  position: relative;
  cursor: pointer;
  height: 40px;
  width: 40px;
  line-height: 40px;
  display: inline-block;
}

.mobile-menu-overlay__header .mobile-navigation-close-icon:before, .page-oppen-off-sidebar__header .mobile-navigation-close-icon:before {
  position: absolute;
  top: 23px;
  left: 8px;
  content: '';
  width: 24px;
  height: 3px;
  background: #fff;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.mobile-menu-overlay__header .mobile-navigation-close-icon:after, .page-oppen-off-sidebar__header .mobile-navigation-close-icon:after {
  position: absolute;
  top: 23px;
  left: 8px;
  content: '';
  width: 24px;
  height: 3px;
  background: #fff;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.mobile-menu-overlay__header .mobile-navigation-close-icon:hover, .page-oppen-off-sidebar__header .mobile-navigation-close-icon:hover {
  color: #086AD8;
}

.mobile-menu-overlay__header .mobile-navigation-close-icon:hover:before, .mobile-menu-overlay__header .mobile-navigation-close-icon:hover:after, .page-oppen-off-sidebar__header .mobile-navigation-close-icon:hover:before, .page-oppen-off-sidebar__header .mobile-navigation-close-icon:hover:after {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.mobile-menu-overlay__body, .page-oppen-off-sidebar__body {
  padding: 0px 40px 100px;
}

.mobile-menu-overlay__body .offcanvas-navigation, .page-oppen-off-sidebar__body .offcanvas-navigation {
  /* onepage style */
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li > a, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li > a {
  display: block;
  color: #ffffff;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li > a:hover, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li > a:hover {
  color: #ffffff;
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li:last-child, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li:last-child {
  border-bottom: 0;
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li.has-children {
  position: relative;
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children.active .menu-expand:before, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li.has-children.active .menu-expand:before {
  content: '\f106';
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children .menu-expand, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li.has-children .menu-expand {
  position: absolute;
  right: 0;
  top: 12px;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children .menu-expand:hover, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li.has-children .menu-expand:hover {
  background: rgba(255, 255, 255, 0.2);
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children .menu-expand:before, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li.has-children .menu-expand:before {
  content: '\f107';
  font-size: 18px;
  font-family: "Font Awesome 5 Pro";
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children .sub-menu, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li.has-children .sub-menu {
  padding: 12px 0 14px 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children .sub-menu li, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li.has-children .sub-menu li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children .sub-menu li a, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li.has-children .sub-menu li a {
  display: block;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  line-height: 1.5;
  padding: 10px 0;
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children .sub-menu li a:hover, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li.has-children .sub-menu li a:hover {
  color: #ffffff;
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children .sub-menu li:last-child, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li.has-children .sub-menu li:last-child {
  border-bottom: 0;
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children .sub-menu li.has-children, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li.has-children .sub-menu li.has-children {
  position: relative;
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children .sub-menu li.has-children.active .menu-expand:before, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li.has-children .sub-menu li.has-children.active .menu-expand:before {
  content: "\f106";
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children .sub-menu li.has-children .menu-expand, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li.has-children .sub-menu li.has-children .menu-expand {
  position: absolute;
  right: 0;
  top: 6px;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children .sub-menu li.has-children .menu-expand:hover, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li.has-children .sub-menu li.has-children .menu-expand:hover {
  background: rgba(255, 255, 255, 0.2);
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children .sub-menu li.has-children .menu-expand:before, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li.has-children .sub-menu li.has-children .menu-expand:before {
  content: '\f107';
  font-size: 16px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 500;
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children .sub-menu .sub-menu li.has-children, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li.has-children .sub-menu .sub-menu li.has-children {
  position: relative;
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children .sub-menu .sub-menu li.has-children.active .menu-expand:before, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li.has-children .sub-menu .sub-menu li.has-children.active .menu-expand:before {
  content: "\f106";
}

.mobile-menu-overlay__body .offcanvas-navigation > ul > li.has-children .sub-menu .sub-menu li.has-children .menu-expand:before, .page-oppen-off-sidebar__body .offcanvas-navigation > ul > li.has-children .sub-menu .sub-menu li.has-children .menu-expand:before {
  content: '\f107';
  font-size: 16px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 500;
}

.mobile-menu-overlay__body .offcanvas-navigation--onepage > ul > li.active > a, .page-oppen-off-sidebar__body .offcanvas-navigation--onepage > ul > li.active > a {
  font-weight: 700;
}

/*======================================
    - offset search
======================================*/
.page-oppen-off-sidebar {
  right: 0;
}

.page-oppen-off-sidebar__inner {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  width: 400px;
  float: right;
  background: #ffffff;
}

@media only screen and (max-width: 479px) {
  .page-oppen-off-sidebar__inner {
    width: 300px;
  }
}

.page-oppen-off-sidebar.active .page-oppen-off-sidebar__inner {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.page-oppen-off-sidebar__header {
  background: #ffffff;
  padding: 15px 35px;
}

.page-oppen-off-sidebar .off-sidebar-contact-info--list .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.page-oppen-off-sidebar .off-sidebar-contact-info--list .item .icon {
  color: #6d70a6;
  min-width: calc(1em + 18px);
  font-size: 16px;
}

.page-oppen-off-sidebar .off-sidebar-contact-info--list .item a:hover {
  color: #38cb89;
}

.page-oppen-off-sidebar .off-sidebar-contact-info .off-sidebar-widget__list {
  overflow: hidden;
}

.page-oppen-off-sidebar .off-sidebar-contact-info .off-sidebar-widget__list li {
  width: 50%;
  float: left;
  margin-bottom: 8px;
}

.page-oppen-off-sidebar .off-sidebar-contact-info .off-sidebar-widget__list li a {
  line-height: 17px;
}

/*===============================
    - search overlay
===============================*/
.search-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.search-overlay__inner {
  width: 100%;
  height: 100%;
  cursor: default;
  background: #ffffff;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow-y: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-overlay.active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.search-overlay__header {
  background-color: #ffffff;
  padding: 15px 0;
}

.search-overlay__header .mobile-navigation-close-icon {
  position: relative;
  cursor: pointer;
  height: 48px;
  width: 48px;
  line-height: 48px;
  display: inline-block;
}

.search-overlay__header .mobile-navigation-close-icon:before {
  position: absolute;
  top: 28px;
  left: 0px;
  content: '';
  width: 42px;
  height: 3px;
  background: #333333;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.search-overlay__header .mobile-navigation-close-icon:after {
  position: absolute;
  top: 28px;
  left: 0px;
  content: '';
  width: 42px;
  height: 3px;
  background: #333333;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.search-overlay__header .mobile-navigation-close-icon:hover {
  color: #086AD8;
}

.search-overlay__header .mobile-navigation-close-icon:hover:before, .search-overlay__header .mobile-navigation-close-icon:hover:after {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.search-overlay__body {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 75px;
}

.search-overlay__form {
  position: relative;
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
  margin: auto;
}

.search-overlay__form input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #086AD8;
  border-radius: 0;
  padding: 15px 50px 15px 0;
  width: 100%;
  color: #ffffff;
  font-size: 72px;
  height: 100px;
}

@media only screen and (max-width: 767px) {
  .search-overlay__form input {
    font-size: 30px;
    height: 60px;
  }
}

.search-overlay__form input::-webkit-input-placeholder {
  color: #086AD8;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.search-overlay__form input::-moz-placeholder {
  color: #086AD8;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.search-overlay__form input:-ms-input-placeholder {
  color: #086AD8;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.search-overlay__form input::-ms-input-placeholder {
  color: #086AD8;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.search-overlay__form input::placeholder {
  color: #086AD8;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.search-overlay__form input[type="text"]:focus {
  color: #086AD8;
  border-color: #086AD8;
}

.header__navigation.preview-menu {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header__navigation.preview-menu .navigation-menu-right {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.preview-header-inner {
  padding: 20px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
  .preview-header-inner {
    padding: 0;
  }
}

.preview-header-inner.is-sticky {
  padding: 0px 0;
}

.preview-header-inner.is-sticky .header__navigation.preview-menu ul > li > a {
  color: #333;
}

.preview-header-inner.is-sticky .header__actions--preview .ht-btn {
  background: transparent;
  border: 1px solid #086AD8;
  color: #086AD8;
  line-height: 42px;
  height: 43px;
}

.preview-header-inner .header__actions--preview .ht-btn {
  background: #086AD8;
  border: 1px solid #086AD8;
  color: #ffffff;
}

.preview-header-inner .header__actions--preview .ht-btn:hover {
  background: #ffffff;
  color: #086AD8;
}

/*=====  End of Header  ======*/